@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Product Sans Medium"), local("ProductSans-Medium"),
    url(https://fonts.gstatic.com/s/productsans/v9/N0c8y_dasvG2CzM7uYqPLs1Lch-SD8r0CsJ60meulZ8.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.form {
  display: block;
  background-color: var(--bg-secondary);
  padding: 1em;
  border-radius: 0.4em;
  margin-bottom: 0.5em;
  color: var(--text-primary);
}

.form.login {
  text-align: center;
}

.form h2 {
  margin-bottom: 0.5rem;
  font-family: "PS Fournier Std", sans-serif;
  font-weight: normal;
}

.form input,
.form textarea {
  font-family: inherit;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.form input[type="text"],
.form textarea,
.form input[type="password"] {
  background: transparent;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid var(--bg-primary);
  padding: 0.25rem 0;
  outline: none;
  width: 100%;
  transition: border 250ms;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border-bottom-color: #c19932;
}

.form input {
  accent-color: #c19932;
}

.form input[type="datetime-local"] {
  background: transparent;
  border: none;
  padding: 1em 0;
  color: var(--text-primary);
}

.form input[type="datetime-local"] {
  color-scheme: dark;
}

.button {
  background-color: #c19932;
  color: white;
  padding: 1em 1.5em;
  border: none;
  border-radius: 0.4rem;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  cursor: pointer;
}

.button:nth-of-type(2) {
  background-color: rgb(192, 30, 30);
  margin-left: 0.5em;
}

.buttons {
  margin-top: 1rem;
}

.login p {
  width: 50%;
  margin: auto;
  margin-bottom: 1em;
}

.disclaimer {
  margin-top: 0.5em;
  font-size: 0.8em;
  opacity: 0.6;
  width: 100% !important;
}

.displayName {
  margin-bottom: 0.1em !important;
}
