@font-face {
  font-family: "PS Fournier Std";
  src: url("/assets/std.woff2");
}

@font-face {
  font-family: "PS Fournier Grand";
  src: url("/assets/bold.woff2");
}

@font-face {
  font-family: "New Atten";
  src: url("/assets/body.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "New Atten";
  src: url("/assets/bodybold.woff2");
  font-weight: bold;
}

#firebaseui-auth-container .mdl-button {
  box-shadow: none !important;
  border-radius: 4px !important;
  width: max-content !important;
  font-family: "Product Sans", "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  #firebaseui-auth-container .mdl-button {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
  }
  #firebaseui-auth-container .firebaseui-idp-text {
    color: white !important;
  }
}

html,
body {
  font-family: "New Atten", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-primary);
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: var(--tap-hightlight);
}

details > summary {
  list-style: none;
  cursor: pointer;
  opacity: 0.7;
  transition: margin 150ms ease-out;
}

details[open] > summary {
  opacity: 1;
  margin-bottom: 0.5em;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  font-family: "Material Symbols Outlined";
  content: "expand_more";
  transform: translateY(3px);
  display: inline-block;
  margin-left: 0.25em;
}
details[open] summary:after {
  font-family: "Material Symbols Outlined";
  content: "expand_less";
  transform: translateY(3px);
  display: inline-block;
  margin-left: 0.25em;
}

p {
  line-height: 1.1em;
}

.ReactModal__Body--open {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
