html {
  --text-primary: #0c2340;
  --text-secondary: #2e6983;
  --bg-primary: #ffffff;
  --bg-secondary: #ddefff;
  --grad-1: #dca627;
  --grad-2: #268da8;
}

@media (prefers-color-scheme: dark) {
  html {
    --text-primary: #d0ccc6;
    --text-secondary: #7eb8d2;
    --bg-primary: #181a1b;
    --bg-secondary: #222426;
    --grad-1: #826215;
    --grad-2: #1e7186;
  }
}

html,
body {
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(201, 151, 0, 0.5);
}

details > summary {
  list-style: none;
  cursor: pointer;
  opacity: 0.7;
  transition: margin 150ms ease-out;
}

details[open] > summary {
  opacity: 1;
  margin-bottom: 0.5em;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  font-family: "Material Symbols Outlined";
  content: "expand_more";
  transform: translateY(3px);
  display: inline-block;
  margin-left: 0.25em;
}
details[open] summary:after {
  font-family: "Material Symbols Outlined";
  content: "expand_less";
  transform: translateY(3px);
  display: inline-block;
  margin-left: 0.25em;
}
