.header {
  text-align: center;
  background: rgba(18, 34, 62, 0.9);
  padding: 1.25rem 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(5px);
  user-select: none;
}

.header h1 {
  color: #c19932;
  font-weight: normal;
  font-family: "PS Fournier Grand", sans-serif;
  font-size: 1.5em;
}

.content {
  padding: 1em;
  padding-top: 5.5em;
  max-width: 520px;
  margin: auto;
}

.loading {
  color: #2e6983;
  text-align: center;
  padding-top: 10em;
  font-size: 1.5em;
  font-weight: 600;
}

.temporarilyDown {
  text-align: center;
  padding-top: 6em;
  max-width: 80%;
  margin: auto;
}

.temporarilyDown h2 {
  color: #2e6983;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.mealTitle {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.25em;
  color: var(--text-primary);
}

.divider {
  width: 100%;
  border-top: 1px solid var(--text-primary);
  opacity: 0.25;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.restaurants {
  display: inline-flex;
  width: calc(100% + 2em);
  margin-left: -1em;
  overflow-x: auto;
  flex-direction: row;
}

.restaurants::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}

.notice {
  font-size: 0.85em;
  color: var(--text-primary);
}

.disclaimer {
  font-size: 0.85em;
  opacity: 0.65;
  color: var(--text-primary);
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner path {
  stroke: hsl(210, 70, 75);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
