.header {
  text-align: center;
  background: rgba(12, 35, 64, 0.95);
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(5px);
}

.header h1 {
  color: #c99700;
  font-weight: 300;
  font-family: "Merriweather", sans-serif;
  font-size: 1.75em;
}

.content {
  padding: 1em;
  padding-top: 5.75em;
}

.loading {
  color: #2e6983;
  text-align: center;
  padding-top: 10em;
  animation: loading 1.5s ease infinite;
  font-size: 1.5em;
}

.mealTitle {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.25em;
}

.divider {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.disclaimer {
  font-size: 0.85em;
  opacity: 0.8;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
