.item {
  width: 100%;
  background-color: var(--background-secondary);
  color: var(--text-primary);
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  cursor: grab;
  font-weight: bold;
  display: flex;
  align-items: center;
  user-select: none;
}

.item[aria-pressed="true"] {
  cursor: grabbing;
  background-color: var(--text-secondary);
}

.item svg {
  fill: var(--text-secondary);
}

.item svg:first-of-type {
  margin-right: 1rem;
}

.spacer {
  flex-grow: 1;
}
