.leaderboard {
  display: block;
  background-color: rgba(23, 43, 77, 0.15);
  padding: 1em;
  border-radius: 0.4em;
  position: relative;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
}

.leaderboard h4 {
  font-weight: 600;
  margin-bottom: 0.5em;
  color: var(--text-secondary);
  display: flex;
}

/* .leaderboard h4:after {
  content: "BETA";
  font-size: 0.65em;
  background-color: var(--text-secondary);
  color: var(--bg-primary);
  padding: 0.1em 0.4em;
  padding-bottom: 0;
  margin-left: 0.75em;
  border-radius: 0.35em;
  display: flex;
  align-items: center;
  text-align: center;
  float: right;
} */

.leaderboard ol {
  color: var(--text-primary);
  list-style-type: none;
  list-style-position: inside;
  counter-reset: item;
}

.leaderboard li {
  counter-increment: item;
  display: flex;
  cursor: pointer;
}

.leaderboard li:before {
  content: "#" counter(item);
  font-weight: bold;
  opacity: 0.5;
  margin-right: 0.5em;
  color: var(--leaderboard-num);
}

.leaderboard li:hover {
  color: var(--leaderboard-num);
}

.close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-family: "Material Symbols Outlined";
  user-select: none;
}

.points {
  opacity: 0.6;
}

.line {
  border-bottom: 1px dotted white;
  flex-grow: 1;
  margin-left: 1em;
  margin-right: 1em;
  opacity: 0.3;
  transform: translateY(-50%);
}

.join {
  font-size: 0.8em;
  opacity: 0.6;
  color: var(--text-secondary);
  text-align: center;
  margin-top: 1em;
}

.noUsers {
  background: var(--grad-1);
  display: grid;
  place-items: center;
  text-align: center;
  padding: 1em 0.5em;
  border-radius: 0.4em;
  color: var(--text-primary);
}

.noUsers h5 {
  font-size: 1em;
}

.noUsers p {
  font-size: 0.9em;
}
