.mealInfo {
  display: block;
  background-color: var(--background-secondary);
  padding: 1em;
  border-radius: 0.4em;
  margin-bottom: 0.5em;
}

.mealInfo p {
  font-weight: 600;
  margin-bottom: 0.5em;
  color: var(--text-secondary);
}

.mealInfo:last-of-type {
  margin-bottom: 0;
}

.mealInfo ul {
  line-height: 1.1em;
}

.mealFoods {
  list-style-type: none;
  color: var(--text-primary);
}

.emptyMenu {
  background-color: rgba(255, 213, 0, 0.15);
  color: var(--text-primary);
  border-radius: 0.4em;
  padding: 0.7em;
}

.emptyMenu b {
  line-height: 1.2;
}

.emptyMenu p {
  color: var(--text-primary);
  font-weight: normal;
  margin-bottom: 0;
}

.mealTitle {
  font-size: 1.2em;
  line-height: 0.8;
  font-weight: 600;
  margin-bottom: 0.25em;
  color: var(--text-primary);
}
