.mealInfo {
  display: block;
  background-color: var(--bg-secondary);
  padding: 1em;
  border-radius: 0.4em;
  margin-bottom: 0.5em;
}

.mealInfo p {
  font-weight: 600;
  margin-bottom: 0.5em;
  color: var(--text-secondary);
}

.mealInfo ul {
  line-height: 1.1em;
}

.mealFoods {
  list-style-type: none;
  color: var(--text-primary);
}
