.tracker {
  display: block;
  background-color: var(--background-secondary);
  padding: 1em;
  border-radius: 0.4em;
  position: relative;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
}

.tracker h4 {
  font-weight: 600;
  margin-bottom: 0.5em;
  color: var(--text-secondary);
  display: flex;
}

.tracker h4:after {
  /* content: "BETA"; */
  font-size: 0.65em;
  background-color: var(--text-secondary);
  color: var(--background-primary);
  padding: 0.1em 0.4em;
  padding-bottom: 0;
  margin-left: 0.75em;
  border-radius: 0.35em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.tracker p {
  color: var(--text-primary);
}

.remaining {
  color: var(--text-primary);
  font-weight: normal;
}

.pointValue {
  background-color: var(--gradient-start);
  color: white;
  font-weight: bold;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
  cursor: pointer;
}

.edit {
  position: absolute;
  top: 1em;
  right: 1em;
  font-family: "Material Symbols Outlined";
  user-select: none;
  color: var(--text-primary);
  cursor: pointer;
}

.edit:hover {
  opacity: 0.7;
}

.usedForHeading {
  opacity: 0.8;
}

.usedFor {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

.tracker ul {
  color: var(--text-secondary);
  list-style-type: none;
}

.getStarted {
  background-color: var(--text-secondary);
  color: var(--background-primary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  font-family: inherit;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: max-content;
}
