.voteParent {
  background: linear-gradient(200deg, var(--grad-1), var(--grad-2));
  display: grid;
  grid-template-columns: auto auto;
  padding: 1em;
  border-radius: 0.4rem;
  margin-bottom: 0.5em;
  color: #ffffff;
  user-select: none;
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.3);
}

.voteParent h2 {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  align-items: center;
}

.votePercentageCell {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.votePercentageCell h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.voteButtonCell {
  margin-left: 1em;
  padding-left: 1em;
  margin-right: 0.5em;
  border-left: 1px solid #ffffff50;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rating {
  -webkit-tap-highlight-color: transparent;
}

.voteSkeleton {
  background: linear-gradient(200deg, var(--grad-1), var(--grad-2));
  display: grid;
  padding: 2em;
  border-radius: 0.4em;
  margin-bottom: 0.5em;
  color: var(--text-primary);
  user-select: none;
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.3);
  align-content: center;
  text-align: center;
}

.voteSkeleton h3 {
  animation: loading 1.5s ease infinite;
}

.voteNumber {
  opacity: 0.75;
  font-size: 0.8em;
  margin-top: 0.5em;
}

.alertOverlay {
  background-color: rgb(0 0 0 / 72%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.alertModal {
  height: max-content;
  max-height: 85vh;
  overflow: auto;
  width: 90vw;
  max-width: 500px;
  position: fixed;
  top: calc(50% + 2em);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: var(--bg-primary);
  color: var(--text-primary);
  border-radius: 0.4rem;
  padding: 2em;
  display: grid;
  grid-template-areas:
    "a a"
    "b b"
    "x x"
    "c d";
  outline: none;
  z-index: 100;
}

.alertModal > span,
.pointModal > span {
  grid-area: a;
  margin-bottom: 0.5em;
}

.alertModal .heading,
.pointModal .heading {
  grid-area: b;
  margin-bottom: 0.5em;
}

.alertModal .heading h2,
.pointModal .heading h2 {
  margin-bottom: 0.1em;
}

.alertModal .heading p,
.pointModal .heading p {
  font-size: 0.9em;
  opacity: 0.5;
}

.alertModal .cancelButton,
.pointModal .cancelButton {
  grid-area: c;
  margin: 1em 0.5em 0.5em 1em;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  border: none;
  border-radius: 0.3em;
  padding: 0.75em 0.5em;
  font-family: inherit;
  cursor: pointer;
}

.alertModal .submitButton,
.pointModal .submitButton {
  grid-area: d;
  margin: 1em 1em 0.5em 0.5em;
  color: white;
  background-color: var(--grad-1);
  border: none;
  border-radius: 0.3em;
  padding: 0.75em 0.5em;
  font-family: inherit;
  cursor: pointer;
}

.foodRatings {
  grid-area: x;
}

.pointInput {
  background-color: var(--bg-secondary);
  border: none;
  font-size: 2em;
  width: 3.5em;
  color: white;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  padding: 0.25em 0;
  outline: none;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
}

.pointInput:focus {
  background-color: var(--grad-1);
}

.pointModal {
  height: 20rem;
  max-height: 85vh;
  overflow: auto;
  width: 90vw;
  max-width: 500px;
  position: fixed;
  top: calc(50% + 2em);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: var(--bg-primary);
  color: var(--text-primary);
  border-radius: 0.4rem;
  padding: 2em;
  display: grid;
  grid-template-areas:
    "a a"
    "b b"
    "x x"
    "c d";
  outline: none;
  z-index: 100;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
